/* CHICAGO */

.chicago_wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .general_chicago {
    width: 100%;
    margin: 10px;
  }

  .chicago_title {
    color: rgba(244, 206, 20, 0.93);
    font-family: 'Markazi Text', sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: normal;
    margin-top: 62.34px;
  }

  .chicago_chicago {
    color: #333;
    font-family: 'Markazi Text', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
  }

  .chicago_text {
    width: 365.316px;
    color: #556962;
    text-align: justify;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 39.6px;
  }

  .chicago_img {
    display: flex;
    flex-wrap: nowrap;
  }

  .restchicago_img {
    width: 268.557px;
    height: 334.633px;
    margin: 178.17px 0 70.55px 51.34px;
    z-index: 1;
  }

  .MandA_img {
    width: 272.506px;
    height: 334.633px;
    margin: 62.34px 0 0 -133px;
    z-index: 0;
  }