/* HEADER || NAV*/

.header_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  /* Header logo */

  .header_logo {
    width: 218.26px;
    height: 58px;
    margin: 28px 0 33px 0;
  }

