@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Roboto:wght@400;900&display=swap');


html {
 box-sizing: border-box;
 width: 1440px;
 height: 2829px;
}


*, *::before, *::after {
 box-sizing: inherit;
}


.wrapper {
 max-width: 858px;
 margin: 0 auto;
}

body {
 color: #000;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.2;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 28px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  color: #000;
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}