@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Markazi+Text:wght@400;700&family=Roboto:wght@400;500;900&display=swap');

/* Header and Nav */
html {
 box-sizing: border-box;
}

body {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
 }

*, *::before, *::after {
 box-sizing: inherit;
}

.wrapper {
  max-width: 858px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
}

.header_item {
  margin-right: 28px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: .75;
}

.header_logo {
  width: 218.26px;
  height: 58px;
  margin-top: 28px;
  margin-bottom: 33px;
}

/* Main */
.intro {
  background-color: rgba(73, 94, 87, 0.93);
  height: 529px;
  padding-top: 147.96px;
}

.info {
  padding-top: 22.04px;
}

.intro_title {
  font-family: 'Roboto', sans-serif;
  color: rgba(244, 206, 20, 0.93);
  font-size: 56px;
  font-weight: 500;
  line-height: normal;
}

.chicago {
  font-family: 'Markazi Text', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-bottom: 15px;
}

.title_chicago {
  width: 399px;
  height: 105px;
}

.intro_info {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 140.625%;
  width: 422px;
  height: 79px;
}

.img_intro {
  width: 360.901px;
  height: 428.922px;
  border-radius: 60px;
}

.intro_wrapper {
  display: flex;
  justify-content: space-between;
}

input {
  width: 200px;
  border-radius: 16px;
  background-color: rgba(244, 206, 20, 0.93);height: 50px;
  color: #060606;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 72px;
}
/* Specials заголовок+кнопка */
.intro_b {
  margin-top: 72px;
}

.specials {
  margin-top: 87px;
  height: 718px;
}

.specials_wrapper {
  display: flex;
  justify-content: space-between;
}

.h2_specials {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
}

/* Cards */

.specials_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 34.32px;
}


.specials_card {
  width: 264.667px;
  height: 439px;
  background: #EDEFEE;
  margin-top: 69px;
  border-radius: 16px 16px 0px 0px;
}

.card-img {
  width: 265px;
  height: 185.258px;
  border-radius: 16px 16px 0px 0px;
}

.card_wrapper {
  display: flex;
  justify-content: space-around;
}

.specials_card-title {
  font-family: 'Markazi Text', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  width: 163.594px;
  height: 25.462px;
  margin: 19.32px 6.25px 0 25.01px;
}

.specials_card-price {
  color: #EE9972;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  width: 59.394px;
  height: 16.682px;
  margin: 20.19px 10.42px 0 6.25px;
}

.specials_card-info {
  color: #495E57;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 22.83px 22.92px 0 25.01px;
  width: 216.736px;
  height: 120.286px;
}

.greeksalad_link {
  color: #333;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.card_order {
  display: flex;
  margin: 17.65px 86px 20.19px 25.01px;
  gap: 10px;
}


/* Testimonials blocks*/

.h2_testimonials {
  color: #333;
  text-align: center;
  padding-top: 122px;
  font-family: 'Markazi Text', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 66px;
}

.testimonials {
  background-color: #F4CE14;
  height: 590px;
}

.testimonials_blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.testimonials_block {
  width: 200px;
  height: 175px;
  background: #FFF;
}

.avatar {
  width: 47px;
  height: 46px;
  margin: 13px 12px 0 24px;
}

.avatar_name {
  display: flex;
  align-items: center;
}

.rating {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin: 29px 155px 0 24px;
}

.name {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-right: 62px;
  margin-top: 5px;
}

.review {
  width: 158.209px;
  height: 46px;
  color: #000;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 17px 17.79px 8px 24px;
}

/* Chef */

.chef_title {
  width: 368.278px;
  color: rgba(244, 206, 20, 0.93);
  font-family: 'Markazi Text', sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
  margin: 62.34px 221.16px 0 0;
}

.chef_chicago {
  width: 165.873px;
  color: #333;
  font-family: 'Markazi Text', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

.chef_text {
  width: 365.316px;
  height: 318.792px;
  color: #556962;
  text-align: justify;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 39.6px 51.34px 0 0;
}

.restChef_img {
  width: 268.557px;
  height: 334.633px;
  margin: 178.17px 0 70.55px 51.34px;
  z-index: 1;
}

.MandA_img {
  width: 272.506px;
  height: 334.633px;
  margin: 62.34px 0 0 -133px;
  z-index: 0;
}

.chef_wrapper {
  display: flex;
}

.chef_img {
  display: flex;
}

/* Footer */

footer {
  height: 411.648px;
  background-color: #556962;
}

.img_footer {
  width: 173.539px;
  height: 284.615px;
  margin-top: 61.38px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h3_navigation {
  color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
   margin-top: 89.65px;

}

.navigation_link {
  color: #FFF;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

/* Madia */
@media (max-width: 990px) {
  /*
  Стили для устройств, у которых ширина viewport меньше или равно 990 пикселей,
  но больше 770 пикселей.
  Эти стили подойдут для некоторых мобильных устройств и планшетов
  */
}

@media (max-width: 770px) {
  /*
  Стили для устройств, у которых ширина viewport меньше или равно 770 пикселей.
  Это множество мобильных устройств
  */
}